# X1 Data Set

In [17]:
%reload_ext autoreload
%autoreload 1

import cochista

frame = cochista.coches("x1")

frame = frame[frame.fuelTypeId == 1]
frame = frame[frame.title.str.contains("sDrive18d")]
frame = frame[frame.provinceId == 28]

frame.sort_values("year", ascending=False).to_json("X1/x1.json", orient="records", indent=2)

frame.describe()

,bodyTypeId,financedPrice,fuelTypeId,km,price,provinceId,specificFuelTypeId,taxTypeId,warrantyId,warrantyMonths,year
count,122.000000,106.000000,122.0,122.000000,122.000000,122.0,122.0,122.0,119.000000,116.000000,122.000000
mean,5.631148,22700.150943,1.0,92806.795082,25006.565574,28.0,1.0,1.0,2.109244,12.827586,2017.377049
std,1.312375,4166.061963,0.0,38879.083254,4688.964775,0.0,0.0,0.0,0.533456,3.053938,1.868963
min,1.000000,10900.000000,1.0,8000.000000,10900.000000,28.0,1.0,1.0,1.000000,12.000000,2010.000000
25%,6.000000,19790.000000,1.0,65510.250000,21840.000000,28.0,1.0,1.0,2.000000,12.000000,2017.000000
50%,6.000000,22970.000000,1.0,95924.000000,25490.000000,28.0,1.0,1.0,2.000000,12.000000,2018.000000
75%,6.000000,24900.000000,1.0,114465.500000,27467.500000,28.0,1.0,1.0,2.000000,12.000000,2018.000000
max,6.000000,38000.000000,1.0,202000.000000,39900.000000,28.0,1.0,1.0,4.000000,24.000000,2022.000000

In [ ]:
from operator import contains
import matplotlib.pyplot
from collections import defaultdict

pred = frame.price<frame.price.mean()+2*frame.price.std()

c = defaultdict(lambda : "yellow")
c.update({2014: "pink", 2015: "red", 2016: "navy", 2017: "orange", 2018: "lime", 2022: "purple"}) 
frame[pred].plot.scatter(x="km", y="price", c=[c[f] for f in frame[pred].year], colorbar=True)
# frame[pred].plot.scatter(x="km", y="price", c="year", colormap="tab20_r")

In [ ]:
frame[frame.title.str.contains("sDrive18d")][frame.provinceId==28].plot.scatter("km","price")